  <!-- .Side panel -->
  <div class=" side-mini-panel"   >
    <ul class="mini-nav">
         <div class="togglediv"><a href="javascript:void(0)" id="togglebtn"><i class="ti-menu"></i></a></div>








<li  > <a href="javascript:void(0)"><i class="fa  fa-cubes" data-icon="v"></i></a>
    <div class="sidebarmenu">
        <h3 class="menu-title"><%= t :module %></h3>
        <div class="searchable-menu">
            <form role="search" class="menu-search">
                <input type="text" placeholder="Search..." class="form-control"> <a href=""><i class="fa fa-search"></i></a> </form>
        </div>
        <ul class="sidebar-menu">

 <li><a href="/<%=I18n.locale %>/car"><%= t :car %></a></li>
 <li><a href="/<%=I18n.locale %>/car/new"><%= t :createCar %></a></li>
            <hr>
     </ul>

    </div>
</li>


<li  > <a href="javascript:void(0)"><i class="fa  fa-users" data-icon="v"></i></a>
    <div class="sidebarmenu">
        <h3 class="menu-title"><%= t :user %></h3>
        <div class="searchable-menu">
            <form role="search" class="menu-search">
                <input type="text" placeholder="Search..." class="form-control"> <a href=""><i class="fa fa-search"></i></a> </form>
        </div>
        <ul class="sidebar-menu">

 <li><a href="/<%=I18n.locale %>/user"><%= t :user %></a></li>
 <li><a href="/<%=I18n.locale %>/user/new"><%= t :createUser %></a></li>
            <hr>
     </ul>

    </div>
</li>





    </ul>
  </div>
  <!-- /.Side panel -->















